html, body {margin: 0; height: 100%; overflow: hidden}


body {
	position: relative;
	height: 1000px;
	background-image: url('stone-floor.jpg');
	background-repeat: repeat;
	background-size: 100px;
}


.hero {
	position: absolute;
	background-color: black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: -1;
	-webkit-transition: all .04s linear;
   -moz-transition: all .04s linear;
	-ms-transition: all .04s linear;
	 -o-transition: all .04s linear;
		transition: all .04s linear;
}

.enemy {
	position: absolute;
	background-color: goldenrod;
	width: 50px;
	height: 50px;
	left: 400px;
	top: 300px;
	border-radius: 50%;
	z-index: -1;
	-webkit-transition: all .04s linear;
   -moz-transition: all .04s linear;
	-ms-transition: all .04s linear;
	 -o-transition: all .04s linear;
		transition: all .04s linear;
}

.fireball {
	position: absolute;
	height: 20px;
	border-radius: 50%;
	background-color: darkred;

}

.hit {
	width: 1px;
	height: 1px;
	background-color: darkred;
}

.damage {
	font-weight: bold;
	position: relative;
	top: -25px;
	left: -25px;
	color: red;
	transition: all 1s linear;
	font-family: "Comic Sans MS";
}
